body{
    background-color: rgba(59, 60, 85, 0.842);
}

#ramon{
    width: 100px;
    height: 120px;
}

.box{
    color: rgba(6, 95, 117, 0.808);
    font-family: 'DotGothic16', sans-serif;
    font-size: larger;
    border:rgba(47, 170, 219, 0.63) 5px solid;
    background-color: rgba(0, 224, 75, 0.473);
}

h1{
    color: black  ;
}